@font-face {
    font-family: "Nico_Moji";
    src: url("../Fonts/NicoMoji-Regular.ttf") format("truetype");
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.back {
    z-index: -1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

    .back img {
        width: 50%;
        height: 100vh;
    }

.menu {
    border-radius: 20px;
    display: block;
    z-index: 20;
    position: absolute;
    /* top: 10px; */
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width: 520px;
    color: #7BF071;
    background-color: #6109D2;
}

.header1 {
    text-align: center;
    font-family: Nico_Moji;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 64px;
    text-shadow: 3px 10px 10px rgba(0, 240, 255, 0.46);
}

.line {
    border-bottom: 2px solid #7BF071;
    filter: blur(1px);
    width: 473px;
    height: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.link {
    text-align: center;
    font-family: Nico_Moji;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #7BF071;
    text-shadow: 3px 10px 10px rgba(0, 240, 255, 0.46);
}

.link_line {
    font-family: Nico_Moji;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 5px;
    padding-left: 10px;
    color: #7BF071;
    text-shadow: 3px 10px 10px rgba(0, 240, 255, 0.46);
   /* display: flex;
    position: relative;*/

    margin: 20px;
}

.anti_link {
    text-decoration: none;
    color: #7BF071;
    text-shadow: 3px 10px 10px rgba(0, 240, 255, 0.46);
}

.input {
    box-sizing: border-box;
    background: #D9D9D9;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-left: 10px;
    height: 10%;
    margin-top: auto;
    margin-bottom: auto;
    width: 236px;
    height: 31px;
}

.select_loc {
    display: flex;
    z-index: 1;
    position: absolute;
    top: 30%;
    width: 100%;
    height: 30%;
    justify-content: space-between;
}

.btn-loc {
    text-align: center;
    width: 20%;
    height: 20%;
    margin: auto;
    background: rgba(97, 9, 210, 0.5);
    border-radius: 20px;
    text-shadow: 0px 7px 4px rgba(255, 0, 229, 0.34);
    display: table;
}

.event_list {
    margin-left: 10%;
    margin-right: 10%;
    z-index: 2;
    position: absolute;
    top: 10%;
    width: 70%;
    height: 70%;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 40px;
}

.event {
    margin-top: 10px;
    background-color: blueviolet;
    border-radius: 8px;
}

.event_inf {
    margin-left: 10%;
    margin-right: 10%;
    z-index: 2;
    position: absolute;
    top: 10%;
    width: 70%;
    height: 70%;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 40px;
    background-color: blueviolet;
    opacity: 90%;
    border-radius: 10px;
}

.evnt_inf {
    display: inline;
}

.count_users {
    display: inline;
}

.event_time {
    display: inline;
}

.event_location {
    display: inline;
}

.event_join {
    width: 10%;
    height: 5%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

.btn_log {
    color: rgba(123, 240, 113, 1);
    width: 20%;
    height: 25px;
    border-radius: 10px;
    z-index: 10;
    margin-bottom: 10px;
    background-color: #4A0E97;
    border-color: #4A0E97;
    font-family: Nico_Moji;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 5px;
    padding-left: 10px;
}

/* FefuPage */

.FefuPage_head {
    padding: 0 22px 0 22px;
    color: white;
    display: flex;
    flex-direction: column;
    background-color: #6109D2;
    border-radius: 20px;
    position: absolute;
}

.FefuPage_head_text {
    font-family: Nico_Moji;
    font-style: normal;
    padding-left: 10px;
    font-weight: 400;
    font-size: 64px;
    line-height: 64px;
    color: #7BF071;
    text-shadow: 3px 10px 10px rgba(0, 240, 255, 0.46);
}

.FefuPage_head_arrow {
    display: block;
    margin: 10px auto 0 auto;
}

.FefuPage_date {
    width: 443px;
    justify-content: space-between;
    z-index: 2;
    top: 120px;
    display: flex;
    font-family: Nico_Moji;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    color: #7BF071;
    text-shadow: 3px 10px 10px rgba(0, 240, 255, 0.46);
    background-color: #6109D2;
    border-radius: 30px;
    padding: 10px 12px;
    position: absolute;
}

.FefuPage_date_text {
    padding: 0 46px 0;
}

.FefuPage_week {
    position: absolute;
    top: 200px;
    display: flex;
}

.FefuPage_week_mo, .FefuPage_week_tu, .FefuPage_week_we, .FefuPage_week_th, .FefuPage_week_fr, .FefuPage_week_sa, .FefuPage_week_su {
    font-family: Nico_Moji;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    color: #7BF071;
    text-shadow: 3px 10px 10px rgba(0, 240, 255, 0.46);
    background-color: #6109D2;
    padding: 3px 26px 7px 27px;
    border-radius: 10px;
    cursor: pointer;
}

.FefuPage_week_active {
    background-color: #8A48BE;
}
/* Герман, класс эктив для кнопок!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.FefuPage_week_mo, .FefuPage_week_tu, .FefuPage_week_we, .FefuPage_week_th, .FefuPage_week_fr, .FefuPage_week_sa {
    margin-right: 22px;
}

.FefuPage_poloska {
    position: absolute;
    top: 291px;
    height: 11px;
    width: 1256px;
    background-color: #6109D2;
    border-radius: 10px;
}

.FefuPage_variant {
    display:none;
    position: absolute;
    top: 395px;
    width: 1135px;
    cursor: pointer;
}

.FefuPage_variant_text {
    padding: 8px 21px 9px 21px;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    color: #7BF071;
    text-shadow: 3px 10px 10px rgba(0, 240, 255, 0.46);
    background-color: #6109D2;
    padding: 3px 26px 7px 27px;
    border-radius: 10px;
}

/* DormPage */

.DormPage_ajax {
    top: 120px;
    justify-content: space-between;
    width: 443px;
    display: flex;
    font-family: Nico_Moji;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    color: #7BF071;
    text-shadow: 3px 10px 10px rgba(0, 240, 255, 0.46);
    background-color: #6109D2;
    border-radius: 30px;
    padding: 3px 12px;
    position: absolute;
}

.DormPage_korpus {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 180px;
}

.DormPage_korpus1, .DormPage_korpus2 {
    display: flex;
}

.DormPage_korpus1 {
    margin-bottom: 30px;
}

.DormPage_k1, .DormPage_k2 {
    font-family: Nico_Moji;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    color: #7BF071;
    text-shadow: 3px 10px 10px rgba(0, 240, 255, 0.46);
    background-color: #6109D2;
    border-radius: 10px;
    width: 120px;
    text-align: center;
}

    .DormPage_k1:not(:last-child), .DormPage_k2:not(:last-child) {
        margin-right: 60px;
    }

.DormPage_variant_group {
    position: absolute;
    top: 390px;
    width: 1137px;
}

.DormPage_variant {
    display: flex;
    justify-content: space-between;
    padding: 9px 21px 8px 23px;
    background-color: #6109D2;
    border-radius: 15px;
    margin-bottom: 25px;
}

.DormPage_variant_text {
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    color: #7BF071;
}

.DormPage_variant_time {
    color: #A559E0;
    font-family: Nico_Moji;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
}

/* JoinDormPage */

.JoinDormPage {
    padding: 25px 19px 52px 66px;
    position: absolute;
    width: 1222px;
    height: 700px;
    top: 162px;
    background-color: rgba(97, 9, 210, 0.95);
    border-radius: 10px;
}

.JoinDormPage_title {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    color: #7BF071;
    margin-bottom: 56px;
}

.JoinDormPage_container {
    display: flex;
}

.JoinDormPage_left {
    width: 55%;
}

.JoinDormPage_participants {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 16px;
}

.JoinDormPage_participants_variant {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.JoinDormPage_participants_circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #D9D9D9;
    margin: 0 10px 0 0;
}

.JoinDormPage_participants_name {
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    color: #FFFFFF;
}

.JoinDormPage_info {
    padding: 29px 0 86px 8px;
    box-shadow: -5px 5px #48128D;
    margin-bottom: 49px;
}

.JoinDormPage_info_time, .JoinDormPage_info_site, .JoinDormPage_info_location {
    font-family: Nico_Moji;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    color: #FFFFFF;
}

.JoinDormPage_info_time, .JoinDormPage_info_site {
    margin-bottom: 16px;
}

.JoinDormPage_chat {
    background-color: #D9D9D9;
    border-radius: 10px;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    color: #000000;
    padding: 5px;
}

/* FefuEventPage */

.FefuEvent_container {
    position: absolute;
    top: 162px;
    padding: 28px 60px 79px;
    background-color: rgba(97, 9, 210, 0.95);
    border-radius: 10px;
    max-width: 1260px;
    min-height: 300px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.FefuEvent_title {
    font-family: Nico_Moji;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    color: #7BF071;
    margin-bottom: 31px;
    text-align: center;
}

.FefuEvent_descr {
    font-family: Nico_Moji;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 55px;
}

.FefuEvent_botton {
    display: flex;
    justify-content: space-between;
}

.FefuEvent_botton_text {
    font-family: Nico_Moji;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    color: #FFFFFF;
}

/* CreateDormEvent */

.CreateDormEvent_container {
    position: absolute;
    top: 110px;
    padding: 18px 60px;
    background-color: rgba(97, 9, 210, 0.95);
    border-radius: 10px;
    max-width: 1260px;
    max-height: 738px;
}

.CreateDormEvent_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CreateDormEvent_inp_name {
    width: 960px;
    height: 65px;
    background-color: #878787;
    border-radius: 10px;
    color: #BEBEBE;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    outline: none;
    padding: 0 10px;
    margin-bottom: 20px;
}

    .CreateDormEvent_inp_name::placeholder {
        color: #BEBEBE;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 32px;
    }

.CreateDormEvent_inp_descr {
    width: 1140px;
    height: 250px;
    background-color: #878787;
    border-radius: 10px;
    color: #BEBEBE;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    outline: none;
    padding: 0 10px;
    margin-bottom: 20px;
    resize: none;
}

    .CreateDormEvent_inp_descr::placeholder {
        color: #BEBEBE;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 32px;
    }

.CreateDormEvent_down {
    width: 1140px;
    display: flex;
    justify-content: space-between;
}

.CreateDormEvent_time, .CreateDormEvent_location, .CreateDormEvent_quantity {
    width: 360px;
    height: 45px;
    background-color: #878787;
    border-radius: 10px;
    color: #BEBEBE;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    outline: none;
    padding: 0 10px;
    margin-bottom: 20px;
}

    .CreateDormEvent_time::placeholder, .CreateDormEvent_location::placeholder, .CreateDormEvent_quantity::placeholder {
        color: #BEBEBE;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 32px;
    }

.CreateDormEvent_btn {
    font-family: Nico_Moji;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 64px;
    color: #7BF071;
    text-shadow: 3px 10px 10px rgba(0, 240, 255, 0.46);
    background-color: #8A48BE;
    border-radius: 15px;
    border: 2px solid #8A48BE;
    cursor: pointer;
    padding: 3px 25px;
    transition: 0.2s;
}

    .CreateDormEvent_btn:hover {
        background-color: rgba(97, 9, 210, 0.95);
        transition: 0.2s;
    }

.btn_log{
    color: rgba(123, 240, 113, 1);
    /*width: 20%;*/
    height: 25px;
    border-radius: 10px;
    z-index: 10;
    margin-bottom: 10px;
    background-color: #4A0E97;
    border-color: #4A0E97;

    font-family: Nico_Moji;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 5px;
    padding-left: 10px;
}

.whbut {
    width: 20%;
    height: 20%;
}

.text {
    text-align: center;
    font-family: Nico_Moji;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    color: #7BF071;
    text-shadow: 3px 10px 10px rgba(0, 240, 255, 0.46);
    margin: 10px 0;
}

.profil_right__conteiner_one {
    margin-top: 22px;
    border-radius: 12px;
}

.profil_right__ava {
    padding-top: 20px;
}

.profil_right__ava_img {
    width: 170px !important;
    height: 170px !important;
    object-fit: cover;
    border-radius: 12px;
}

.norm_img {
    position: fixed;
}

.bad_a {
    display: table-cell;
    vertical-align: middle;
    font-family: Nico_Moji;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 5px;
    padding-left: 10px;
    color: rgba(123, 240, 113, 0.6);
}

.FefuPage_week_fr_l {
    background-color: #8A48BE;
}

.FefuPage_variant_active{
    display:block;
}

.FefuPage_Add {
    position: absolute;
    top: 315px;
}

.ffb{
    margin: 0 20px;
}

.fefuqb{
    text-align:center;
    margin-top: 20px;
}