@{
    ViewData["Title"] = "Home Page";
}

<div class="">
    <div class="link">
        <a name="log_id" class="btn-menu anti_link" asp-controller="Profile" asp-action="Index">Profile</a>
    </div>
    <div class="link">
        <a name="registration" class="btn-menu anti_link" href="#">My_Events</a>
    </div>
</div>
