<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FefuPage</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body>
    <div class="back">
        <img src="~/img/A.jpg" class="norm_img" style="width: 100%" />
        <div class="FefuPage_head">
            <div class="FefuPage_head_text">FEFU_QUEST</div>
            <svg class="FefuPage_head_arrow" width="27" height="20" viewBox="0 0 27 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_f_1_102)">
                    <rect x="10" y="15.4747" width="18.2379" height="5" rx="2.5" transform="rotate(-49.8922 10 15.4747)" fill="#7BF071" />
                    <rect width="18.2379" height="5" rx="2.5" transform="matrix(-0.644228 -0.764833 -0.764833 0.644228 16.5735 14.9489)" fill="#7BF071" />
                </g>
                <defs>
                    <filter id="filter0_f_1_102" x="0.0224609" y="0.022583" width="26.5286" height="19.6506" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                        <feGaussianBlur stdDeviation="1" result="effect1_foregroundBlur_1_102" />
                    </filter>
                </defs>
            </svg>
        </div>

        <div class="FefuPage_poloska"></div>

        @RenderBody()

    </div>
</body>
</html>
