@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="">
    <div class="link">
        <a name="log_id" class="btn-menu anti_link" asp-action="Login">Log in</a>
    </div>
    <div class="link">
        <a name="registration" class="btn-menu anti_link" asp-action="Regist">Registration</a>
    </div>
    <div class="link">
        <a name="registration" class="btn-menu anti_link" asp-action="RestorePassword">Restore password</a>
    </div>
</div>

