@model RestorePasswordViewModel
@{
    var gen = Model.GeneratedToken;
    var email = Model.Email;
}

<form asp-action="RestorePassword" asp-antiforgery="true" class="" id="form">
    <p>Вам отправлен токен на почту, введите его:</p>
    <input type="email" style="display:none;" placeholder="email" class="input" asp-for="Email" value="@email" />
    <div class="link_line">
        <p>Пароль:</p>
        <input type="password" placeholder="password" class="input" asp-for="Password" />
    </div>
    <div class="link_line">
        <p>Подтвержение:</p>
        <input type="password" placeholder="password" class="input" asp-for="PasswordConfirm" />
    </div>
    <input placeholder="password" class="input" asp-for="GeneratedToken" value="@gen" />
    <div class="link">
        <button name="get_log" class="btn_log" style="width:auto;" id="regIn">Сменить пароль</button>
    </div>
</form>
